<div class="repo-card border p-4 rounded-md mb-4 shadow:md hover:shadow-lg transition-all duration-300 ease-in-out dark:hover:bg-gray-800 bg-opacity-20 bg-gray-900 hover:bg-opacity-100 dark:hover:text-white cursor-default flex flex-col relative hover:bg-gray-800 hover:scale-105 transform hover:text-white"
     data-repo-name="<%= repo.name %>" id="<%= repo.name %>">
    <div>
        <div class="text-lg font-semibold mb-2 inline-flex items-center">
            <%= repo.name %>
        </div>
        <% if (repo.stargazers_count) { %>
            <span class="inline-flex text-white px-2 py-1 text-xs font-bold mr-2 mb-2">
                <%= repo.stargazers_count %> ⭐
            </span>
        <% } %>
        <% if (repo.description) { %>
            <p class="mb-2">
                <%= repo.description %>
            </p>
        <% } %>
        <% const totalSize = Object.values(repo.languages).reduce((acc, val) => acc + val, 0); %>
        <%
        function getLanguageColor(language) {
            const colors = {
                JavaScript: 'bg-yellow-500',
                HTML: 'bg-orange-500',
                CSS: 'bg-blue-500',
                SCSS: 'bg-pink-600',
                PHP: 'bg-indigo-400',
                Blade: 'bg-red-500',
                Python: 'bg-yellow-600',
                EJS: 'bg-red-600'
            };
            return colors[language] || 'bg-gray-500';
        }
        %>

        <% Object.entries(repo.languages).forEach(([lang, size]) => { %>
            <% const percentage = ((size / totalSize) * 100).toFixed(1); %>
            <span class="inline-block text-white rounded-full px-2 py-1 text-xs font-bold mr-2 mb-2 relative group <%= getLanguageColor(lang) %>">
        <%= lang %> <%= percentage %>%
        <span class="hidden group-hover:inline-block absolute bottom-full left-1/2 transform -translate-x-1/2 bg-black bg-opacity-75 text-white px-2 py-1 text-xs font-bold rounded whitespace-nowrap">
            <%= (size / 1024).toFixed(2) %> MB
        </span>
    </span>
        <% }) %>
    </div>
    <div id="url" class="absolute bottom-0 right-0 flex flex-col text-lg text-gray-300">
        <a href="<%= repo.repo_url %>" class="text-blue-400 hover:text-blue-300 transition duration-300 underline mb-2 mr-2">
            View on GitHub
        </a>
    </div>
    <span class="text-sm text-gray-300 mt-auto flex flex-col">
        <span>
            Created <%= moment(repo.created_at).fromNow() %>
        </span>
        <span>
            Updated <%= moment(repo.updated_at).fromNow() %>
        </span>
    </span>
</div>
